* {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    background-color: #7DDFD6;
}

.container {
    width: 70%;
    height: auto;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin-top: 100px;
    color: #252521;
    margin-bottom: 100px;
}

.num1 p:nth-child(1) {
    font-weight: bold;
    color: #3969E2;
}

.num1 p:nth-child(2) {
    color: #0c0b0b;
    margin: 5px 0 5px;
    text-indent: 28px;
    font-size: 15px;
}

.num2 p:nth-child(1) {
    font-weight: bold;
    color: #3969E2;
}

.num2 p:nth-child(2) {
    color: #0c0b0b;
    margin: 5px 0 5px;
    text-indent: 28px;
    font-size: 15px;
}

.num2 p:nth-child(3) {
    font-weight: bold;
    font-size: 15px;
}

.num2 p:nth-child(4),
.num2 p:nth-child(5),
.num2 p:nth-child(6),
.num2 p:nth-child(7) {
    color: #0c0b0b;
    margin: 5px 0 5px;
    text-indent: 25px;
    font-size: 15px;
}

.num3 p:nth-child(1) {
    font-weight: bold;
    color: #3969E2;
}

.num3 p:nth-child(2) {
    color: #0c0b0b;
    margin: 5px 0 5px;
    text-indent: 28px;
    font-size: 15px;
}

.num4 p:nth-child(1) {
    font-weight: bold;
    color: #3969E2;
}

.num4 p:nth-child(2),
.num4 p:nth-child(3),
.num4 p:nth-child(4) {
    color: #0c0b0b;
    margin: 5px 0 5px;
    text-indent: 25px;
    font-size: 15px;
}

.num5 p:nth-child(1) {
    font-weight: bold;
    color: #3969E2;
}

.num5 p:nth-child(2),
.num5 p:nth-child(3),
.num5 p:nth-child(4),
.num5 p:nth-child(5) {
    color: #0c0b0b;
    margin: 5px 0 5px;
    text-indent: 25px;
    font-size: 15px;
}

.num6 p:nth-child(1) {
    font-weight: bold;
    color: #3969E2;
}

.num6 p:nth-child(2),
.num6 p:nth-child(3),
.num6 p:nth-child(4) {
    color: #0c0b0b;
    margin: 5px 0 5px;
    text-indent: 25px;
    font-size: 15px;
}

.num7 p:nth-child(1) {
    font-weight: bold;
    color: #3969E2;
}

.num7 p:nth-child(2) {
    color: #0c0b0b;
    margin: 5px 0 5px;
    text-indent: 25px;
    font-size: 15px;
}

.num8 p:nth-child(1) {
    font-weight: bold;
    color: #3969E2;
}

.num8 p:nth-child(2) {
    color: #0c0b0b;
    margin: 5px 0 5px;
    text-indent: 25px;
    font-size: 15px;
}

.num9 p:nth-child(1) {
    font-weight: bold;
    color: #3969E2;
}

.num9 p:nth-child(2) {
    color: #0c0b0b;
    margin: 5px 0 5px;
    text-indent: 25px;
    font-size: 15px;
}

.num10 p:nth-child(1) {
    font-weight: bold;
    color: #3969E2;
}

.num10 p:nth-child(2),
.num10 p:nth-child(3),
.num10 p:nth-child(4),
.num10 p:nth-child(5),
.num10 p:nth-child(6),
.num10 p:nth-child(7),
.num10 p:nth-child(8),
.num10 p:nth-child(9),
.num10 p:nth-child(10) {
    color: #0c0b0b;
    margin: 5px 0 5px;
    text-indent: 25px;
    font-size: 15px;
}

.num11 p:nth-child(1) {
    font-weight: bold;
    color: #3969E2;
}

.num11 p:nth-child(2),
.num11 p:nth-child(3) {
    color: #0c0b0b;
    margin: 5px 0 5px;
    text-indent: 25px;
    font-size: 15px;
}

.num12 p:nth-child(1) {
    font-weight: bold;
    color: #3969E2;
}

.num12 p:nth-child(2) {
    color: #0c0b0b;
    margin: 5px 0 5px;
    text-indent: 25px;
    font-size: 15px;
}

.num13 p:nth-child(1) {
    font-weight: bold;
    color: #3969E2;
}

.num13 p:nth-child(2) {
    color: #0c0b0b;
    margin: 5px 0 5px;
    text-indent: 25px;
    font-size: 15px;
}

.num14 p:nth-child(1) {
    font-weight: bold;
    color: #3969E2;
}

.num14 p:nth-child(2),
.num14 p:nth-child(3) {
    color: #0c0b0b;
    margin: 5px 0 5px;
    text-indent: 25px;
    font-size: 15px;
}

.num15 p:nth-child(1) {
    font-weight: bold;
    color: #3969E2;
}

.num15 p:nth-child(2),
.num15 p:nth-child(3),
.num15 p:nth-child(4),
.num15 p:nth-child(5) {
    color: #0c0b0b;
    margin: 5px 0 5px;
    text-indent: 25px;
    font-size: 15px;
}

.num16 p:nth-child(1) {
    font-weight: bold;
    color: #3969E2;
}

.num16 p:nth-child(2) {
    color: #0c0b0b;
    margin: 5px 0 5px;
    text-indent: 25px;
    font-size: 15px;
}

.num17 p:nth-child(1) {
    font-weight: bold;
    color: #3969E2;
}

.num17 p:nth-child(2),
.num17 p:nth-child(3),
.num17 p:nth-child(4) {
    color: #0c0b0b;
    margin: 5px 0 5px;
    text-indent: 25px;
    font-size: 15px;
}

.num18 p:nth-child(1) {
    font-weight: bold;
    color: #3969E2;
}

.num18 p:nth-child(2),
.num18 p:nth-child(3),
.num18 p:nth-child(4),
.num18 p:nth-child(5){
    color: #0c0b0b;
    margin: 5px 0 5px;
    text-indent: 25px;
    font-size: 15px;
}

.num18 {
    margin-bottom: 100px;
}
