.box{
	overflow: auto !important;
    background: url("../images/s1.jpg") no-repeat 0px 0px;
    background-size: cover;
}
.box1{
	padding: 5em 0 14em;
}
.content1 {
    width: 50%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 0 0 30px 0;
    border-radius: 0px;
    margin: 0 auto;
    border: 5px solid #d0e47d;
    margin-top: 83px;
}
.heading{
	padding: 1em 0;
    background: #fcb216;
}
.content1 form {
    margin-bottom: 1em;
}
form {
    display: block;
    margin-top: 0em;
}
.content1 input[type="text"] {
    padding: 10px;
    width: 90%;
    border: 1px solid black;
    color: #000;
    text-align: left;
    outline: none;
    font-size: 1em;
    margin-top: 5%;
}
.content1 input[type="password"] {
    padding: 10px;
    width: 90%;
    border: 1px solid black;
    color: #000;
    text-align: left;
    outline: none;
    font-size: 1em;
    margin-top: 4%;
}
.register {
    padding: 8px;
    background-color: #fcb216;
    border: solid 2px #fcb216;
    width: 90%;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    margin-top: 7%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.signin-text {
    width: 90%;
    margin: 1.5em auto 0;
}
.signin-text a{
	text-decoration: none;
}
.text-left {
    float: left;
    text-align: center;
}
.text-right {
    float: right;
    text-align: right;
}
