* {
    margin: 0px;
    padding: 0px;
}

header {
    height: 100px;
    font-size: 13px;
}

li {
    list-style: none;
    padding: 5px;
}


/*设置一级li的样式*/

.menu1>li {
    float: right;
    position: relative;
    margin-left: 0px;
    width: 52px;
    height: 20px;
    margin-top: 20px;
    text-align: center;
}


/*设置二级菜单默认隐藏*/

.menu1>li>ul {
    display: none;
}


/*设置二级菜单的样式和位置*/

.menu2 {
    position: absolute;
    left: -10px;
    top: 30px;
    border: 1px solid #DDD;
    box-shadow: 0 0 8px #DDD;}

.menu2 li {
    width: 81px;
    margin: 0px;
    height: 20px
}
.menu2 li a:hover{

     background-color: #3385ff;

}
.menu2 li a{
    color: black;
}
.li8 a{
    text-decoration: none;
}
.menu3 {
    position: absolute;
    left: -21px;
    top: -20px;
    
}

.menu3 li {
    width: 91px;
    background-color:#F7F4F4;
    margin: 1px;
    height: 63px

}
.menu3 li a{
  background-size: 50%;
}
.menu1 .li8{
     
     width: 60px;
}
.menu1 .li9{
    background-color: #3385ff;
    width: 72px;
    height: 10px;
}

/*设置鼠标滑过的时候显示二级菜单*/

.menu1>li:nth-child(1):hover #first {
    display: block;
}

.menu1>li:nth-child(2):hover #second {
    display: block;
}

.menu3 .gao1 {
    background-image: url("../img/music.png");
    background-position: top;
    background-repeat: no-repeat;
    
    text-align: center;
}

.menu3 .gao2  {
    background-image: url("../img/picture.png");
    background-position: top;
    background-repeat: no-repeat;
    
    text-align: center;
}

.menu3 .gao3  {
    background-image: url("../img/question.png");
    background-position: top;
    background-repeat: no-repeat;
    
    text-align: center;
}

.menu3 .gao4  {
    background-image: url("../img/book.png");
    background-position: top;
    background-repeat: no-repeat;
    
    text-align: center;
}

.menu3 .gao5  {
    background-image: url("../img/wind.png");
    background-position: top;
    background-repeat: no-repeat;
   
    text-align: center;
}

.menu3 .gao6  {
    background-image: url("../img/earth.png");
    background-position: top;
    background-repeat: no-repeat;
   
    text-align: center;
}
.li1 a,.li2 a,.li3 a,.li4 a,.li5 a,.li6 a{
    font-weight: bold;
    color: black;
}


/*主体部分*/

.con {
    text-align: center;
    padding-top: 50px;
    height: 300px;
}

.con input {
    width: 450px;
    height: 31px;
}

.con button {
    width: 100px;
    height: 36px;
    background-color: #3385ff;
    font-size: 15px;
    border: 0px;
    margin-left: -8px;
    margin-top: 10px;
}
.con button:hover{
    background-color: #297EFC;
}
article form span{
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 22px;
    background-image: url("../img/zxj.png");
    top: 17px;
    right: 515px;
}
article form{
    position: relative;
}

/*底部信息*/

footer {
    display: block;
    font-size: 13px;
}

#ftCon {
    height: 100px;
    position: absolute;
    bottom: 28px;
    text-align: left;
    width: 100%;
    margin: 0 auto;
    z-index: 0;
    overflow: hidden;
}

.ftCon-Wrapper {
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

#qrcode {
    display: inline-block;
}

#qrcode .qrcode-item-1 {
    float: left;
}

#qrcode .qrcode-item-2 {
    float: left;
    margin-left: 33px;
}

#qrcode .qrcode-img {
    float: left;
    width: 60px;
    height: 60px;
}

#qrcode .qrcode-text {
    float: left;
    color: #999;
    line-height: 23px;
    margin: 8px 0 0 10px;
}

#ftConw,
#ftConw a {
    color: #999;
}

#ftConw {
    display: inline-block;
    text-align: left;
    margin-left: 33px;
    line-height: 20px;
    position: relative;
    top: -2px;
}

p {
    margin: 0;
    padding: 0;
    list-style: none;
}

#ftConw,
#ftConw a {
    color: #999;
}

#ftConw {
    display: inline-block;
    text-align: left;
    margin-left: 33px;
    line-height: 22px;
    position: relative;
    top: -2px;
}

.ftConw a {
    text-align: center;
    padding-top: 150px;
}
