
.hua{
	background-color: grey;
	width: 1100px;
	height: 650px;
	margin: 0 auto 0 auto;
	position: absolute;
	left: 140px;
}

.head{
    border: 2px solid black;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: absolute;
    top : 100px;
    left:400px;
    background-color: #a74628;
}
 .face{
	border: 2px solid black;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    position: relative;
    top: 60px;
    left: 3px;
    background-color: #ec9945;
}

/* 左眼样式 */
.eye1-1{
    border: 2px solid black;
    border-radius: 50%;
    width: 70px;
    height:100px;
    position: relative;
    top:54px;
    left: -1px;
    background-color: #f3cabd;
}
.eye1-2{
	border: 1px solid black;
    border-radius: 50%;
    width: 60px;
    height:80px;
    position: relative;
    top:-1px;
    left: 3px;
}
.eye1-3{
	border: 1px solid black;
    border-radius: 50%;
    width: 60px;
    height:60px;
    position: relative;
    top:0px;eye
    left: -1px;
    background-color: #000000;
}
.eye1-4{
	border: 1px solid black;
    border-radius: 50%;
    width: 40px;
    height:30px;
    position: relative;
    top:9px;
    left:9px;
    background-color: #FFFFFF;
}

/* 右眼样式 */
.eye2-1{
	border: 2px solid black;
    border-radius: 50%;
    width: 70px;
    height:100px;
    position: relative;
    top:-50px;
    left: 100px;
    background-color: #f3cabd;
}
.eye2-2{
	border: 1px solid black;
    border-radius: 50%;
    width: 60px;
    height:80px;
    position: relative;
    top:-1px;
    left: 3px;

}
.eye2-3{
	border: 1px solid black;
    border-radius: 50%;
    width: 60px;
    height:60px;
    position: relative;
    top:0px;
    left: -1px;
    background-color: #000000;
}
.eye2-4{
	border: 1px solid black;
    border-radius: 50%;
    width: 40px;
    height:30px;
    position: relative;
    top:9px;
    left:9px;
    background-color: #FFFFFF;
}
/* 嘴样式 */
.mouse{
	border: 3px solid black;
    border-radius: 50%;
    width: 15px;
    height: 28px;
    position: relative;
    top: -50px;
    left: 70px; 
    animation:hu 1.5s ease infinite;
}
@keyframes hu {
	0%{ height:28px;}
	/* 10%{height:25px;} 
	20%{height:23px;}
	30%{height:20px;}
	40%{height:17px;}
	50%{height:14px;}
	60%{height:11px;}
	70%{height:9px;}
	80%{height:6px;}
	90%{height:3px;} */
	100%{height:1px;}}
.mouse1{
	border: 3px solid black;
    width: 26px;
    height: 17px;
    position: relative;
    top: -62px;
    left: 65px;
    border-top-color: transparent;
    border-bottom-left-radius: 99px;
    border-bottom-right-radius: 59px;
}

/* 耳朵样式 */
.ear1{
	border: 3px solid black;
    border-radius: 50%;
    width: 63px;
    height: 107px;
    position: absolute;
    top: 50px;
    left: 522px;
    transform: rotateZ(61deg);
    background-color: #e06f1f;
}
.ear2{
	border: 2px solid black;
    width: 130px;
    height: 74px;
    border-top-right-radius: 225%;
    border-top-left-radius: 139%;
    border-bottom-right-radius: 137%;
    border-bottom-left-radius: 292%;
    position: absolute;
    top: 164px;
    left: 605px;
    background-color: #e06f1f;
}
.ear2-1{
	border: 2px solid black;
    width: 100px;
    height: 35px;
    position: absolute;
    border-radius: 50%;
    top: 203px;
    left: 618px;
    transform: rotateZ(12deg);
    background-color: #ea7c59;
}

/* 身体样式 */
.body{
	border: 2px solid black;
    border-radius: 50%;
    width: 200px;
    height:200px;
    position: absolute;
    top: 264px;
    left: 500px;
    background-color: #b96a4f;
}

/* 腿样式 */
.foot1{
	width: 42px;
    height: 56px;
    border: 3px solid black;
    border-radius: 50%;
    position: absolute;
    top: 386px;
    left: 490px;
    transform: rotateZ(61deg);
    background-color: #b96a4f;
}
.foot1-1{
	border: 3px solid black;
    width: 24px;
    height: 35px;
    position: relative;
    top: 46px;
    left: 14px;
    border-top-color: transparent;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 13px;
    transform: rotateZ(-16deg);
    background-color: #b96a4f;
}
.foot2{
	width: 42px;
    height: 56px;
    border: 3px solid black;
    border-radius: 50%;
    position: absolute;
    top: 402px;
    left: 534px;
    transform: rotateZ(20deg);
    background-color: #b96a4f;
}
.foot2-1{
	border: 3px solid black;
    width: 24px;
    height: 35px;
    position: relative;
    top: 46px;
    left: 2px;
    border-top-color: transparent;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 25px;
    transform: rotateZ(6deg);
    background-color: #b96a4f;
}
.foot3{
	width: 106px;
    height: 35px;
    border: 3px solid black;
    border-radius: 50%;
    position: absolute;
    top: 439px;
    left: 596px;
    transform: rotateZ(-30deg);
    background-color: #b96a4f;
}
.foot4{
	width: 90px;
    height: 90px;
    border: 3px solid black;
    border-radius: 50%;
    position: absolute;
    top: 377px;
    left: 606px;
    transform: rotateZ(-30deg);
    background-color: #b96a4f;
}
.wei{
	border-right: 20px solid #752c15;
    width: 100px;
    height: 70px;
    border-top-right-radius: 70px 70px;
    position: absolute;
    top: 325px;
    left: 656px;
    transform: rotateZ(71deg);
}