div {
    width: 100px;
    height: 100px;
    position: absolute;
}

.wrapper {
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left,
.right,
.center {
    top: 100px;
     box-shadow: 5px 5px 5px #80807f;
}

.top,
.center,
.bottom {
    left: 100px;
     box-shadow: 5px 5px 5px #80807f;
}

.left {
    background-color: #660b80;
}

.right {
    background-color: #168b17;
    left: 200px;
}

.center {
    background-color: #bfb7a4;
}

.top {
    background-color: #544cff;
}

.bottom {
    background-color: #ff0526;
    top: 200px;
}
div img{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;

}