body{
	font-size: 18px;
}
caption{
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 20px;
	font-family: "微软雅黑";
	}
	
table{
	margin: 232px auto;
}
/*表格内修饰*/
table,tbody,th,tr,td{
	border: 2px solid#666;
	border-collapse: collapse;
	font-weight:600 ;
	width: 700px;
	height: 45px;
	text-align: center;
	
}
tbody tr th{
	font-weight: bold;
}
