/*公共样式*/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
    background-image: none;
    background-color: #ebebeb;
    min-width: 1200px;
}

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
}


/*文章区域样式*/

#cnblogs_post_body h2 {
    font-size: 24px;
    font-weight: normal;
    background-color: #E67E22;
    color: #fff;
    text-indent: 10px;
    border-radius: 5px;
    text-shadow: 2px 2px 3px #222;
    box-shadow: 0 0 0 1px #F9CB18, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
    margin: 10px 0;
}

#cnblogs_post_body h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 35px 0 20px;
    padding-left: 10px;
    position: relative;
}

#cnblogs_post_body h3:before {
    content: '';
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #53EA38;
}

#cnblogs_post_body h4 {
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    color: #333;
    margin: 0;
    padding: 5px 0;
}

#cnblogs_post_body p {
    margin: 0px auto;
    text-indent: 0;
    font-size: 16px;
    line-height: 30px;
}

.postBody blockquote,
.postCon blockquote {
    width: auto;
    margin: 10px auto;
    padding: 6px 6px 6px 60px;
    color: #666;
    background: white url(/images/blockquote.gif) 5px 5px no-repeat;
}


/*文章列表、内容样式*/

.postTitle {
    position: relative;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.postTitle:hover {}

.postTitle a,
.post-title a,
.postTitl2 a,
.postTitl2 a,
.entrylistPosttitle a,
.entrylistPosttitle a {
    color: black;
    font-size: 25px;
}

.postTitle a:hover,
.postTitl2 a:hover,
.entrylistPosttitle a:hover {
    color: #e67e22;
    text-decoration: none;
}

.postTitle,
.postTitl2,
.entrylistPosttitle {
    font-size: 20px;
    padding-right: 64px;
    padding-left: 10px;
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: #e67e22;
}

.post {
    padding: 25px 15px;
}

.forFlow img {
    margin-top: 0px;
    margin-bottom: 0px;
}

.feedback_area_title {
    padding: 0 0 10px;
}


/*代码块样式*/

.cnblogs-markdown .hljs {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    padding: 5px !important;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
    color: rgb(2, 148, 2);
    font-family: 'Microsoft YaHei';
}

.cnblogs-markdown .hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    background: #fff;
    color: #4d4e53;
    background: url(http://images.cnblogs.com/cnblogs_com/bigboyLin/771966/o_bg_code.png) top center #fafbfc !important;
}

.cnblogs-markdown .hljs {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
    font-size: 14px !important;
    line-height: 1.5 !important;
    padding: 10px !important;
    border: 0 !important;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
    color: #DD4A68;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
    color: #07a;
}

.cnblogs-markdown pre {
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 6px solid #558abb;
}

.tocify {
    bottom: 10px;
    background-color: #fff;
    right: 10px;
}

.nav-list > .active > a,
.nav-list > .active > a:hover {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #F99338;
}

.nav > li > a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #F99338;
}

.nav > li > a {
    display: block;
    font-size: 14px;
}

.dayTitle {
    display: none;
}

.day {
    background: white;
    padding: 24px 32px;
    margin: 0 0 25px;
}

.postDesc,
.postDesc2,
.entrylistItemPostDesc {
    border-bottom: 1px solid #E8E7D0;
    text-align: right;
    margin: 10px 0px;
    padding: 5px 0px 10px;
}

.catListEssay li,
.catListFeedback li,
.catListView li,
.catListPostCategory li,
.catListPostArchive li {
    display: block;
    padding: 1px 5px;
    border-radius: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.catListEssay li:hover,
.catListFeedback li:hover,
.catListView li:hover,
.catListPostCategory li:hover,
.catListPostArchive li:hover {
    background-color: #e67e22;
}

.catListEssay li:hover a,
.catListFeedback li:hover a,
.catListView li:hover a,
.catListPostCategory li:hover a,
.catListPostArchive li:hover a {
    text-decoration: none;
    color: #fff !important;
}

.topicListFooter {
    padding: 0px 20px 10px;
}


/*文章内容设置背景色*/

#blog-comments-placeholder,
#comment_form,
#post_detail,
#topics {
    background: #fff;
}

#blog-comments-placeholder,
#divRefreshComments,
.commentform,
#AjaxHolder_UpdatePanel1 {
    padding: 10px 32px;
}

.entrylist {
    background: #fff;
    padding: 20px 10px;
}
