html{
	height: 100%
}
body{
	width: 100%;
	height: 100%;
	min-height: 500px;
	min-width: 800px;
	position: relative;
	margin: 0;
	padding:0;
	font-size: 14px;
}
/*nav*/
.nav-menu{
	position: absolute;
	top:20px;
	right:195px;
}
.nav-menu a{
	margin-left: 15px;
	font-weight: bold;
	color:#000;
}
.nav-menu a:last-child{
	font-weight: normal !important;
}
.nav-menu a:hover{
	color:#0000CC;
}


/*设置*/
.set-menu{
	position: absolute;
	top:10px;
	right:110px;
}
.sett{
	width: 30px;
	height: 20px;
	position: absolute;
	right:30px;
	top:10px;
    *top: 12px;
	color:#000;
}
.sett:hover{
	color:#0000CC;
}
.set-menu ul{
	list-style: none;
}
#set ul{
	display: none;
	width:40px;
	*width:80px;
	height: 100px;
	margin-top: 30px;
	*margin-top: 20px;
    border: 1px solid #DDD;
    box-shadow: 0 0 8px #DDD;
    -moz-box-shadow: 0 0 8px #DDD;
    -webkit-box-shadow: 0 0 8px #DDD;

}
#set ul li{
	margin-left: -40px;
    *margin-left: 0px;
	width: 80px;
	line-height: 25px;
}
#set ul li a{
	padding-left: 10px;
	color: #000;
}
#set ul li:hover{
	background-color:#3385ff; 
}
#set ul a{
	text-decoration: none;
}
#set li:hover ul{
	display: block;
}


/*更多产品*/
.more-menu{
	z-index: 10;
	position:absolute;
	top:0px;
	right:0px;
}
#fir{
	position: absolute;
	top:14px;
	right:20px;
	display:block;
	width: 75px;
    height: 25px;
    text-align: center;
    line-height: 35px !important;
    background-color:#3385ff;
	color:#fff !important;
	font-weight: normal;
	text-decoration:none;
}

#more li{
	list-style: none;
    color:#666666;
    margin-left: -10px;
    *margin-left: 15px;
}
.more-pic{
 	width:65px;
 	height: 75px;
 	*height: 70px;
 	border-bottom: 1px solid #DDD;
    text-align: center;
 }
 .more-word{
 	width:65px;
 	height:55px;
 	border-bottom: 1px solid #DDD;
 	text-align: center;
 	line-height: 65px;
 }
#more ul li  a{
	text-decoration: none;
	color:#666666;
}
#more ul li  a:hover{
	text-decoration:underline;
}
#more ul li img{
	*width: 45px;
	*height: 30px;
	border:0 \9;
	padding-top: 6px;
	padding-bottom: 3px;
}
#more li:hover ul{
	display: block;
}
#more li:hover #fir{
	display:none;
}
#more ul{
	display: none;
	position: absolute;
	top:-10px;
	right: 0px;
	width:80px;
	*width:100px;
	height: 590px;
	border:1px solid #DDD;
}	


/*中间部分*/
article{
	width: 100%;
	padding-top: 50px ;
	text-align: center;
}
article img{
	width:270px;
	height:129px;
	position: relative;
    left: 20px;
}
form{
	margin:25px auto;
	width:700px;
	position: relative;
}
.text{
	border:1px solid #DDD;
	width:500px;
	height:34px;
	*height:25px;
    outline:none;
    padding-left: 10px;
    *padding-top: 10px
}
 @media \0screen {.text{height:25px; 
 	                    padding-top: 10.5px;}}
.text:hover{
	border:1px solid #999;
}
.text:focus{
	border:1px solid #07ccee;
}
.sub{
	width:100px;
	height:38px;
	background-color:#3385ff;
	color:#fff;
	border:0;
	margin-left: -7px;
}
.sub:hover{
	background-color: #0000FF;
	cursor: pointer;
}
.camera{
	position:absolute;
	top:10px;
	right:170px;
	*right: 200px;
}
 @media \0screen{
 	.camera{
 		right:200px;
 	}
 }
.camera a img{
	width: 20px;
	height: 20px;
	border:0 \9;
}
#nav, #nav ul {
 padding: 0;
 margin: 0;
 list-style: none;
}
#nav ul {
 display: none;
}
#nav ul img{
	*margin-top: -30px;
}
#nav li:hover ul {
 display: block;
}
#nav li:hover .camera-1 {
 display: none;
}


/*底部*/
.foo{
	width: 630px;
	height: 150px;
	margin: 0 auto;  
    position: absolute;  
    bottom: 50px;
    left:0px;
    right: 0;
    *left:50%;
    *height:50%;
    *margin:-150px -315px;
    color:#999; 
    font-size: 12px;
    overflow: hidden;
}
.foo-one{
	width:60px;
	height:60px;
	position: absolute;
	top:0px;
	left:0px;
}
.foo-two{
	width:60px;
	height:40px;
	position: absolute;
	top:10px;
	left:70px;
	line-height: 20px;
}
.foo-thr{
	width:60px;
	height:60px;
	position: absolute;
	top:0px;
	left:150px;
}
.foo-fou{
	width:60px;
	height:40px;
	position: absolute;
	top:10px;
	left:215px;
	line-height: 20px;
}
.foo-fiv{
	width:400px;
	height:60px;
	position: absolute;
	top:0px;
	left:295px;
}
.foo-fiv a{
    color:#999; 
}
footer b{
	color:#666;
	font-weight: bold;
}